{{#if following}}
  <a href="#/unfollow/{{wallId}}" class="btn btn-default">
    Unsubscribe
  </a>
{{else}}
  <a href="#/follow/{{wallId}}" class="btn btn-default">
    Subscribe
  </a>
{{/if}}
