<h1>Wall {{nick}}</h1>
<div class="wall">
</div>
<div class="empty">
There's no posts
</div>
<div class="loading">
loading...
</div>
<div class="wall-add-post">
</div>
<div class="user-buttons">
</div>
  {{#if following}}
    <button class="btn btn-default">
      Unsubscribe
    </button>
  {{else}}
    <button class="btn btn-default">
      Subscribe
    </button>
  {{/if}}
  </button>
