<h1>Wall {{nick}}</h1>
<div class="wall">
</div>
<div class="empty">
There's no posts
</div>
<div class="loading">
loading...
</div>
<div class="wall-add-post">
</div>
<div class="user-buttons">
  <div class="follow-button">
  </div>
</div>
