<div class="container">
  <div class="row">
    <form role="form">
      <div class="col-md-2 col-md-offset-5">
	<div class="form-group">
	  <label>
	    E-mail
	    <input type="email" name="email" class="form-control"/>
	  </label>
	</div>
	<div class="form-group">
	  <label>
	    Login
	    <input name="nick" class="form-control"/>
	  </label>
	</div>
	<div class="form-group">
	  <label>
	    Password
	    <input type="password" name="pwd" class="form-control"/>
	  </label>
	</div>
	<div class="form-group">
	  <label>
	    Repeat password
	    <input type="password" name="repeatPwd" class="form-control"/>
	  </label>
	</div>
	<div class="form-group">
	  <button class="btn btn-default register-submit">
	    Submit
	  </button>
	  or
	  <a href="#/" class="btn btn-default btn-login">
	    Login
	  </a>
	</div>
      </div>
    </form>
  </div>
</div>
